.App {
  text-align: center;
}

.Logo {
  max-width: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #fff8dd;
  height: 45vh;
}

.App-navbar {
  
  display: flex;
  flex-direction: row;
  background-color: #ffefae;
}

.App-abas-primeiro {
  margin: 10px 10px 5px 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
